/* Table of Contents
––––––––––––––––––––––––––––––––––––––––––––––
- General Content
- Typography
- Header & Navigation
- About
- Images & Media
- Contact Form
- Footer
- Media Queries
–––––––––––––––––––––––––––––––––––––––––––––– */

/* General Content
–––––––––––––––––––––––––––––––––––––––––––––– */
.main {
  padding-top: 3%;
}
.row {
  padding: 2% 0 0 0;
}
.black {
  background-color: #000000;
}
.jet {
  background-color: #333333;
  color: #faebd7;
}
.antiqueWhite {
  background-color: #faebd7;
}
.goldenrod {
  background-color: #dda520;
}
.dimGray {
  background-color: #666666;
}
.darkStateGray {
  background-color: #2f4f4f;
}
html {
  scroll-behavior: smooth;
  background: url("/images/header-background.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100%;
}
:target:before {
  content: "";
  display: block;
  height: 100px;
  margin: -100px 0 0;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––– */
body {
  font-family: "Varela Round", sans-serif;
  font-size: 1.5em;
  font-weight: lighter;
  color: #000;
}
h2 {
  font-size: 3em;
  /* margin: 0.67em; */
}
h2.bio {
  color: #3f7f7c;
}
p.bio {
  color: #fff;
}
a {
  color: white;
  text-decoration: none; /* no underline */
}
a:hover {
  color: white;
  text-decoration: none; /* no underline */
}
.contentSection {
  text-align: center;
  direction: rtl;
}
mark {
  background-color: #dac186;
}
::selection {
  background: #dda520; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #dda520; /* Gecko Browsers */
}
/* Header & Navigation
–––––––––––––––––––––––––––––––––––––––––––––– */
/* .headerImage {
  background-image: url("/images/header-background.jpg");
} */
header.main_nav {
  padding: 1% 0;
  height: 10vh;
}
.logo {
  /* padding-bottom: 10%; */
  height: 10vh;
  margin-bottom: 20px;
}
.nav-link {
  color: white;
  margin: 10px;
}
.nav-link:hover {
  color: gold;
}

/*--------------- new navbar ----------------*/
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
}
.navbar {
  font-size: 1.1em;
  font-weight: lighter;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
}

.brand-title {
  font-size: 1.5rem;
  margin: 0.5rem;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
  direction: rtl;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
}

.navbar-links li:hover {
  background-color: #555;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 800px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links ul li {
    text-align: center;
  }

  .navbar-links ul li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}
/* About
–––––––––––––––––––––––––––––––––––––––––––––– */
.headerAboutContent {
  background-color: #fff;
}

.about h2 {
  margin: 0;
}
.mariGold {
  background-color: #fdac53;
}
#moreAboutUs {
  direction: rtl;
  padding-top: 1%;
}
.aboutme {
  padding: 10%;
}
.aboutme b {
  font-size: 1.7em;
  margin: 2%;
}

/* Images & Media
–––––––––––––––––––––––––––––––––––––––––––––– */
img {
  max-width: 100%;
  max-height: 100%;
  /* display: block; */
}
img.avatarImg {
  border-radius: 400px;
  border: 5px solid #fff;
}
img:hover {
  opacity: 0.8;
}
.bigImage {
  border-radius: 50%;
  border: 5px solid #fff;
}
.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  border-radius: 1%;
}
.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
/* Contact Form
–––––––––––––––––––––––––––––––––––––––––––––– */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

form {
  max-width: 420px;
  margin: 50px auto;
}

.feedback-input {
  color: white;
  font-family: "Varela Round", sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid #cc6666;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.feedback-input:focus {
  border: 2px solid #cc4949;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

[type="submit"] {
  font-family: "Varela Round", sans-serif;
  width: 100%;
  background: #cc6666;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}
[type="submit"]:hover {
  background: #cc4949;
}

/* Footer
–––––––––––––––––––––––––––––––––––––––––––––– */
ul.social {
  display: block;
  margin: 5% 0;
  list-style-type: none;
  text-align: center;
}
ul.social li {
  font-size: 1.5em;
  display: inline;
  padding: 0 2%;
}
/* ul.social li a {
  color: #666;
} */
span {
  font-size: 1.5em;
}
span.facebook a:hover {
  color: rgb(59, 89, 152);
}
span.twitter a:hover {
  color: rgb(0, 172, 237);
}
span.instagram a:hover {
  color: rgb(81, 127, 237);
}
span.youtube a:hover {
  color: rgb(187, 0, 0);
}
span.flickr a:hover {
  color: rgb(255, 0, 132);
}
span.linkedin a:hover {
  color: rgb(0, 123, 182);
}
span.whatsapp a:hover {
  color: rgb(37, 211, 102);
}
.footer {
  direction: rtl;
}

.footerContent {
  text-align: center;
  color: #faebd7;
  font-size: 1em;
  list-style-type: none;
}
.footer ul {
  text-align: center;
  color: #faebd7;
  font-size: 1em;
  list-style-type: none;
}
.footer i {
  margin: 10px;
}
.footer a:hover {
  color: #dda520;
  text-decoration: none; /* no underline */
}
.footer a {
  color: #faebd7;
  text-decoration: none; /* no underline */
}
#year {
  color: #faebd7;
  font-size: 1em;
}
/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––– */
/* Larger than mobile */
@media (max-width: 710px) {
  .footer ul {
    font-size: 0.7em;
  }
  h2 {
    font-size: 2.5em;
  }
}
@media (max-width: 200px) {
  /* .logo a {
    font-size: 2em;
  } */
  .main {
    padding-top: 15%;
  }
  .portfolio img {
    margin-bottom: 10%;
  }
  /* img.avatar {
    margin-top: 15%;
  } */
  h2.bio {
    font-size: 2.5em;
  }
  p.bio {
    font-size: 1.25em;
    color: #3f7f7c;
  }
  /* ul.social li a {
    font-size: 0.75em;
  } */
}
