/* Table of Contents
––––––––––––––––––––––––––––––––––––––––––––––
- General Content
- Typography
- Header & Navigation
- About
- Images & Media
- Footer
- Media Queries
–––––––––––––––––––––––––––––––––––––––––––––– */

/* General Content
–––––––––––––––––––––––––––––––––––––––––––––– */
.main {
  padding-top: 3%;
}
.row {
  padding: 2% 0 0 0;
}
.black {
  background-color: #000000;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––– */
body {
  font-family: "open-sans", sans-serif;
  font-size: 1.5em;
  font-weight: lighter;
  color: #000;
}
h2 {
  font-family: "open-sans", cursive;
  font-size: 3em;
  margin: 0.67em;
}
h2.bio {
  color: #3f7f7c;
}
p.bio {
  color: #fff;
}
a {
  color: white;
  text-decoration: none; /* no underline */
}
/* Header & Navigation
–––––––––––––––––––––––––––––––––––––––––––––– */
header.main_nav {
  padding: 1% 0;
  /* display: block; */
  /* display: block; */
  height: 10vh;
}
.logo {
  /* padding-bottom: 10%; */
  height: 10vh;
  margin-bottom: 20px;
}
.nav-link {
  color: white;
  margin: 10px;
}
.nav-link:hover {
  color: gold;
}
.right_navigator {
  direction: rtl;
  font-size: 1.5em;
}
/* About
–––––––––––––––––––––––––––––––––––––––––––––– */

.about {
  text-align: center;
  direction: rtl;
}
.about h2 {
  margin: 0;
}
.mariGold {
  background-color: #fdac53;
}
#moreAboutUs {
  direction: rtl;
}
.aboutme {
  padding: 10%;
}

/* Images & Media
–––––––––––––––––––––––––––––––––––––––––––––– */
img {
  max-width: 100%;
  max-height: 100%;
  /* display: block; */
}
img.avatar {
  border-radius: 400px;
  border: 5px solid #fff;
}
img:hover {
  opacity: 0.8;
}
.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
/* Footer
–––––––––––––––––––––––––––––––––––––––––––––– */
ul.social {
  display: block;
  margin: 5% 0;
  list-style-type: none;
  text-align: center;
}
ul.social li {
  font-size: 3em;
  display: inline;
  padding: 0 2%;
}
ul.social li a {
  color: #666;
}
ul.social li.facebook a:hover {
  color: rgb(59, 89, 152);
}
ul.social li.twitter a:hover {
  color: rgb(0, 172, 237);
}
ul.social li.instagram a:hover {
  color: rgb(81, 127, 237);
}
ul.social li.youtube a:hover {
  color: rgb(187, 0, 0);
}
ul.social li.flickr a:hover {
  color: rgb(255, 0, 132);
}
ul.social li.linkedin a:hover {
  color: rgb(0, 123, 182);
}

p.copyright {
  text-align: center;
  color: #666;
  font-size: 1em;
}

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––– */
/* Larger than mobile */
@media (max-width: 479px) {
  /* .logo a {
    font-size: 2em;
  } */
  .main {
    padding-top: 15%;
  }
  .portfolio img {
    margin-bottom: 10%;
  }
  img.avatar {
    margin-top: 15%;
  }
  h2.bio {
    font-size: 2.5em;
  }
  p.bio {
    font-size: 1.25em;
    color: #3f7f7c;
  }
  ul.social li a {
    font-size: 0.75em;
  }
}
